*~
.venv
venv
env
!.gitkeep
tmp
.DS_Store
.idea
*.log
*.map
*.pyc
*.h5
__pycache__/
src/

data/
saved_models/
logs/
results/
images/
figures/

baselines/
babyai/
gym-minigrid/
procgen/

rsync_exclude.txt

wandb/